@model AppLibrosML.Models.LibroModelo

@{
    ViewData["Title"] = "Eliminar libro";
}

<h2>Eliminar libro</h2>

<div>
    <h4>Detalles del libro:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Título:</dt>
        <dd class="col-sm-10">@Model.Titulo</dd>

        <dt class="col-sm-2">Autor:</dt>
        <dd class="col-sm-10">@Model.Autor</dd>

        <dt class="col-sm-2">Editorial:</dt>
        <dd class="col-sm-10">@Model.Editorial</dd>

        <dt class="col-sm-2">Género:</dt>
        <dd class="col-sm-10">@Model.Genero</dd>

        <dt class="col-sm-2">Estado:</dt>
        <dd class="col-sm-10">@Model.Estado</dd>

        <dt class="col-sm-2">Comentarios:</dt>
        <dd class="col-sm-10">@Model.Comentarios</dd>

        <dt class="col-sm-2">Valoración:</dt>
        <dd class="col-sm-10">@Model.Valoracion</dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.ID" method="post" 
    onsubmit="return confirm('¿Estás seguro de que quieres eliminar este libro de tu listado?');">
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listado" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>


