@model IEnumerable<AppLibrosML.Models.LibroModelo>

@{
    ViewData["Title"] = "Listado";
}

<section class="h-100 gradient-custom-2">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col">
                <div class="rounded-top text-white d-flex flex-row bg-warning" style="height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img src="https://i.pinimg.com/564x/64/0a/91/640a91892bbe2a38a7e99cc91e1c01e5.jpg" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <!-- Formulario de búsqueda -->
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col text-center">
            <form action="@Url.Action("Buscador", "Libro")" method="get" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <div class="input-group">
                        <input type="text" name="searchTerm" class="form-control" placeholder="Buscar...">
                        <button type="submit" class="btn btn-warning">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Resultados de búsqueda -->
    <table class="table table-warning table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Titulo del libro")
                </th>
                <th>
                    @Html.DisplayName("Autor del libro")
                </th>
                <th>
                    @Html.DisplayName("Editorial")
                </th>
                <th>
                    @Html.DisplayName("Genero del libro")
                </th>
                <th>
                    @Html.DisplayName("Estado")
                </th>
                <th>
                    @Html.DisplayName("Tus comentarios")
                </th>
                <th>
                    @Html.DisplayName("Puntuación del libro")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Editorial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentarios)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valoracion)
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Edit", new { id = item.ID })'">Editar</button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <div class="row justify-content-center align-items-center mt-3">
        <div class="col text-center">
            <a href="@Url.Action("UsuarioPerfil", "UsuarioLogin")" class="btn btn-warning btn-lg">Volver al perfil</a>
        </div>
    </div>
</section>
